ul .collapsible li.active {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: linear-gradient(#334556, #2c4257), #2a3f54;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0,
    inset rgba(255, 255, 255, 0.16) 0 1px 0;
  border-right: 5px solid #1abb9c;
}
.editable {
  cursor: text;
}
/* li .line :before {
  background: #425668;
  bottom: auto;
  content: '';
  height: 8px;
  left: 23px;
  margin-top: 21px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}
li .line:after {
  border-left: 1px solid #425668;
  bottom: auto;
  content: '';
  left: 27px;
  position: absolute;
  top: auto;
} */
